{% extends 'products/base.html' %}
{% block content %}
{% load static %}

<link rel="stylesheet" href="{% static 'css/category.css' %}" type="text/css">

<div class="wrapper rounded bg-white">
    <hr>
    <a href="{% url 'create_product' sub_id %}">Add product</a>
    {% for product in products %}
    <div class="row px-sm-2 px-0 pt-3">
        <div class="col-md-4 offset-md-0 offset-sm-2 offset-1 col-sm-8 col-10 offset-sm-2 offset-1 mb-3">
            <div class="card">
                <div class="d-flex justify-content-center"><h2 class="h4">{{ product.name }}</h2></div>
                <div class="d-flex justify-content-center"> <img src="{{ product.image.url }}" alt="" width="278" height="300"> </div> <b class="px-2"><br>
                <div class="d-flex justify-content-center"><p>Дата создания: {{ product.date_created }}</p></div>
                <div class="d-flex justify-content-center">{{ product.phone }}</div>
                </b>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}

